<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="ad1" class="com.example.model.Ad">
        <property name="name" value="Ad 1"/>
        <property name="content" value="Content for Ad 1"/>
    </bean>

    <bean id="ad2" class="com.example.model.Ad">
        <property name="name" value="Ad 2"/>
        <property name="content" value="Content for Ad 2"/>
    </bean>

    <bean id="ad3" class="com.example.model.Ad">
        <property name="name" value="Ad 3"/>
        <property name="content" value="Content for Ad 3"/>
    </bean>


    <bean id="comment1" class="com.example.model.Comments">
        <property name="author" value="Comment 1"/>
        <property name="content" value="Comment for Press 1"/>
        <property name="date" value="2024-04-01"/>
    </bean>

    <bean id="comment2" class="com.example.model.Comments">
        <property name="author" value="Comment 2"/>
        <property name="content" value="Comment for Press 2"/>
        <property name="date" value="2024-04-02"/>
    </bean>

    <bean id="comment3" class="com.example.model.Comments">
        <property name="author" value="Comment 3"/>
        <property name="content" value="Comment for Press 3"/>
        <property name="date" value="2024-04-03"/>
    </bean>

    <bean id="press1" class="com.example.model.Press">
        <constructor-arg name="title" value="Press 1"/>
        <constructor-arg name="content" value="Content for Press Release 1"/>
        <constructor-arg>
            <list>
                <ref bean="comment1"/>
            </list>
        </constructor-arg>
        <constructor-arg>
            <list>
                <ref bean="ad1"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="press2" class="com.example.model.Press">
        <constructor-arg name="title" value="Press 2"/>
        <constructor-arg name="content" value="Content for Press Release 1"/>
        <constructor-arg>
            <list>
                <ref bean="comment2"/>
            </list>
        </constructor-arg>
        <constructor-arg>
            <list>
                <ref bean="ad2"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="press3" class="com.example.model.Press">
        <constructor-arg name="title" value="Press 3"/>
        <constructor-arg name="content" value="Content for Press Release 1"/>
        <constructor-arg>
            <list>
                <ref bean="comment3"/>
            </list>
        </constructor-arg>
        <constructor-arg>
            <list>
                <ref bean="ad3"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="news" class="com.example.model.News">
        <property name="theme" value="News for 2024-04-01"/>
        <constructor-arg>
            <list>
                <ref bean="press1"/>
                <ref bean="press2"/>
                <ref bean="press3"/>
            </list>
        </constructor-arg>
    </bean>

</beans>
